.uFileUploader-cancel,
.uFileUploader-label {
	display: inline-block;
	cursor: pointer;
	border: 1px solid #666;
	font-size: 17px;
	text-align: center;
	padding: 4px 8px;
	position: relative;
}

.uFileUploader-filesList {
	margin-top: 15px;
	position: relative;
	vertical-align: top;
}

.uFileUploader-fileContailner {
	position: relative;
	width: 130px;
	height: 98px;
	background: #fff;
	display: inline-block;
	vertical-align: top;
	outline: 1px solid #999;
	overflow: hidden;
	margin: 0 10px 10px 0;
}

.uFileUploader-link {
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 11px;
	cursor: pointer;
	color: #fff;
	background-color: rgba(153, 204, 255, 0.81);
	padding: 3px 0;
	word-break: break-all;
}

.uFileUploader-input {
	display: none;
}

.uFileUploader-img {
	max-height: 98px;
	position: relative;
}

.uFileUploader-img.uFileUploader-img--notimage{
	max-height: 60px;
	margin-top: 15px;
}

.uFileUploader-progressbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	transition: opacity 1500ms ease;
}

.uFileUploader-progressbar.loading {
	opacity: 1.0;
}

.uFileUploader-progressbar .uFileUploader-percent {
	background-color: rgba(153, 204, 255, 0.81);
	width: 0;
	color: #fff;
	line-height: 102px;
	margin: 0;
	vertical-align: text-bottom;
	display: inline;
	padding: 3px 10px;
	border-radius: 3px;
}
.uFileUploader-progressbar.preloading .uFileUploader-percent {
	background-color: rgba(153, 255, 157, 0.81)
}